# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/addons/godot-coroutine-utilities !export-ignore
/addons/godot-coroutine-utilities/tests export-ignore